@import "light_mode";
* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

:root {
    --text-color: #{$white};
    --bg-color: #{$black};
}
:root[data-theme="light"] {
    @include light-mode;
}

body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}
main.layout {
    width: 100%;
    display: block;
}
.container {
    width: 75%;
    max-width: 1200px;
}
