@import "./tailwind.css";

* {
  @apply text-contrast;
  margin: 0;
  padding: 0;
  font-family: Fira Code, monospace;
  font-weight: 400;
  font-size: inherit;
}

body {
  @apply bg-base;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

main.layout {
  width: 100%;
  display: block;
}

.container {
  width: 75%;
  max-width: 1200px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
