@import './tailwind.css';

* {
    margin: 0;
    padding: 0;
    font-family: Fira Code, monospace;
    font-size: 16px;
}

body {
    * {
        font-size: inherit;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

main.layout {
    width: 100%;
    display: block;
}

.container {
    width: 75%;
    max-width: 1200px;
}