@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-contrast;
    }

    /* define vars for theming */
    :root {
        --text-color: 40 44 51;
        --bg-color: 255 255 255;
        --primary-color: 199 120 221;
        --secondary-color: 40 44 51;
    }

    :root[data-theme="dark"] {
        --text-color: 255 255 255;
        --bg-color: 40 44 51;
        --secondary-color: 171 178 191;
    }

    body {
        @apply bg-base;
    }
}